<section>
  <div class="also">
    <div class="headers">
      <h2><%= t('also_head') %></h2>
    </div>
    <div class="main_also">
      <div class="img_also">
        <%= image_tag "and_also.png" %>
      </div>
      <div >
        <h6 class="head_also"><%= t('also_h6').upcase %></h6>
        <p class="text_also"><%= t('text_also_1') %></p>
        <p class="text_also"><%= t('text_also_2') %></p>
      </div>
    </div>
  </div>
</section>
