<section class="main_ccn">
  <div class="content">
    <h2 class="headers"><strong><%= t('ccm_q') %></strong></h2>
    <p class="text"><%= t('ccm_p') %></p>
  </div>
  <div class="sub_content">
    <div class="list">
      <div class="sub_headers">
        <%= image_tag 'acheteur.png', class: "img_logo" %>
        <h3 class="headers headers_list"><%= t('acheteur_q') %></h3>
      </div>
      <ul>
        <li><%= t('list_acheteur_1') %></li>
        <li><%= t('list_acheteur_2') %></li>
        <li><%= t('list_acheteur_3') %></li>
        <li><%= t('list_acheteur_4') %></li>
      </ul>
    </div>
    <div class="list list_2">
      <div class="sub_headers">
        <%= image_tag 'store.png', class: "img_logo" %>
        <h3 class="headers headers_list"><%= t('vendeur_q') %></h3>
      </div>
      <ul>
        <li><%= t('list_vendeur_1') %></li>
        <li><%= t('list_vendeur_2') %></li>
        <li><%= t('list_vendeur_3') %></li>
        <li><%= t('list_vendeur_4') %></li>
      </ul>
    </div>
  </div>
</section>
