<section>
  <footer>
    <div class="footer_logo">
      <%= image_tag 'logo.png', class: "logo" %>
      <p><%= t('droit') %><%= t('1kubator') %> <%= link_to t('1kubator_link'), 'https://1kubator.com/', target:"_blank", class: "unkubator" %> </p>
    </div>
    <div class="footer-right nav-link">
      <ul>
        <li>
          <a href="#anchor_1" class="js-scrollTo"><%= t('link_1') %></a>
        </li>
        <li>
          <%= link_to t('link_2'), '/faq.html'  %>
        </li>
        <li>
          <%= link_to t('link_3'), '/contact.html'  %>
        </li>
      </ul>
    </div>
  </footer>
</section>
