<section>
  <footer>
    <div class="footer_logo">
      <%= image_tag 'logo.png', class: "logo" %>
      <p><%= t('droit') %></p>
    </div>
    <div class="footer-right nav-link">
      <ul>
        <li>
          <a href="/index.html" class="js-scrollTo"><%= t('link_4') %></a>
        </li>
        <li>
          <%= link_to t('link_2'), '/faq.html'  %>
        </li>
        <li>
          <%= link_to t('link_3'), '/contact.html'  %>
        </li>
      </ul>
    </div>
  </footer>
</section>
