<section>
<div class="price_content">

  <div class="headers_price">
    <div class="header_price">
      <h2><%= t('price_header') %></h2>
      <p><%= t('price_text') %></p>
    </div>
    <div class="argument">
      <div class="argument_1">
        <p class="euro"><%= t('euro') %></p>
        <h1><%= t('argument_1') %></h1>
      </div>
      <div class="argument_2">
        <p><%= t('argument_2') %></p>
      </div>
    </div>
    <div class="price_explication">
      <p><%= t('price_explication') %><u><%= t('price_explication_underline') %></u></p>
    </div>
  </div>

  <div class="price_table">
    <div class="card-group">


      <div class="card">
          <div class="element_2">
            <h4><%= t('head_section_1').upcase %></h4>
            <p><%= t('text_section_1') %></p>
          </div>
          <div class="element_3">
            <h4><%= t('head_section_2').upcase %></h4>
            <p><%= t('text_section_2') %></p>
          </div>
      </div>


      <div class="card">
        <div class="element_1">
          <h4><%= t('element_1').upcase %></h4>
        </div>
        <div class="element_2">
          <p><%= t('element_2') %></p>
        </div>
        <div class="element_3">
          <p><%= t('element_3') %></p>
        </div>
      </div>


      <div class="card">
        <div class="element_1">
          <h4><%= t('element_4').upcase %></h4>
        </div>
        <div class="element_2">
          <p><%= t('element_5') %></p>
        </div>
        <div class="element_3">
          <p><%= t('element_5') %></p>
        </div>
      </div>


    </div>
  </div>
</div>
</section>
