<section>
  <div class="security_content" style="background-image: url(assets/images/banniere-2.png)">
    <div class="security_headers">
      <h2><%= t('security_header') %></h2>
      <p><%= t('security_text') %></p>
    </div>
    <div class="cards_security">

      <div class="card">
        <div class="picto_security">
          <%= image_tag"safety.png" %>
        </div>
        <div class="card_text">
          <h4><%= t('card_1_security_head') %></h4>
          <p><%= t('card_1_security_text') %></p>
        </div>
      </div>

      <div class="card ">
        <div class="picto_security transaction">
          <%= image_tag"transaction.png" %>
        </div>
        <div class="card_text">
          <h4><%= t('card_2_security_head') %></h4>
          <p><%= t('card_2_security_text') %></p>
        </div>
      </div>

      <div class="card">
        <div class="picto_security">
          <%= image_tag"suivi.png" %>
        </div>
        <div class="card_text">
          <h4><%= t('card_3_security_head') %></h4>
          <p><%= t('card_3_security_text') %></p>
        </div>
      </div>
    </div>
  </div>
</section>
