<div class="security_content" style="background-image: url(assets/images/banniere-2.png)">
  <div class="security_headers">
    <h2><%= t('security_header') %></h2>
    <p><%= t('security_text') %></p>
  </div>
  <div class="cards_security card-group">

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card card-price">
        <div class="card_text card-body">
          <%= image_tag"safety.png", class: "picto_security" %>
          <h4><%= t('card_1_security_head') %></h4>
          <p><%= t('card_1_security_text') %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card card-price">
        <div class="card_text card-body">
          <%= image_tag"transaction.png", class: "picto_security transaction" %>
          <h4><%= t('card_2_security_head') %></h4>
          <p><%= t('card_2_security_text') %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card card-price">
        <div class="card_text card-body">
          <%= image_tag"suivi.png", class: "picto_security"%>
          <h4><%= t('card_3_security_head') %></h4>
          <p><%= t('card_3_security_text') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
