<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bridge</title>
    <meta name="description" content="Bridge est l'application qui sécurise les transactions entre particuliers qui commandent sur les sites de petites annonces, du paiement à la livraison, gratuitement.">
<!--     <meta property="og:title" content="Bridge - Le paiement sécurisé entre particuliers">
    <meta property="og:image" content="fb.png">
    <meta property="og:description" content="Bridge est l'application qui sécurise les transactions entre particuliers qui commandent sur les sites de petites annonces, du paiement à la livraison, gratuitement.">
    <meta property="og:site_name" content="Bridge"/> -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= favicon_tag "favicon.png" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="container-fluid">
      <%= partial "layouts/navbar_faq" %>
      <%= yield %>
      <%= partial "layouts/footer_contact" %>
    </div>
    <%= javascript_include_tag "all.bundle" %>
  </body>
</html>
