<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>charles-henri Poniard</title>
  <%= favicon_tag "favicon.ico" %>
</head>
<body class="<%= page_classes %>">

  <%= partial "layouts/banner" %>
  <%= yield %>

  <%= javascript_include_tag "all.bundle" %>

</body>
</html>
